h1
{
	margin: 0;
	font-size: 1em;
}
h2
{
	font-size: 1.5em;
}
#collapsing-nav
{
	clear: both;
	background: #fee;
}
article
{
	background: #afd;
	margin: 10px 0;
}
@media (min-width: 768px)
{
	#collapsing-nav
	{
		display: none !important;
	}
}